.board{
  text-align: center;
  display: flex
;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.card{
  width: 280px;
    height: 350px;
    overflow: hidden;
    background-color: #9ceb52;
    border-radius: 15px;
    font-size: 23px;
    font-family: "Galada";
    margin: 10px;
}

img{
  margin: 5px;
  max-width: 265px;
  max-height: 265px;
  border-radius: 15px;
  object-fit: contain;
  aspect-ratio: 1/1;
  width:100%
}